<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>商品一覧</title>
    <!-- ① -->
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>商品一覧</h1>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>名前</th>
            <th>価格</th>
            <th>商品内容</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <!-- ② -->
          <tr th:each="itemForm:${itemlists}" th:object="${itemForm}">

            <!-- ③ -->
            <td th:text="*{id}"></td>
            <td th:text="*{name}"></td>
            <td th:text="*{price}"></td>
            <td th:text="*{content}"></td>
             <!-- ④ -->
            <td><a class="btn btn-default btn-xs" th:href="@{/item/itemforms/{id}/show(id=*{id})}">参照</a></td>
            <td><a class="btn btn-default btn-xs" th:href="@{/item/itemforms/{id}/edit(id=*{id})}">編集</a></td>
            <td>
              <!-- ⑤ -->
              <form th:action="@{/item/itemforms/{id}/delete(id=*{id})}" th:method="post">
                <input class="btn btn-default btn-xs" type="submit" value="削除" />
              </form>
      
           
            </td>
          </tr>
        </tbody>
      </table>
      <a class="btn btn-default" href="/item/create">新規作成</a>
    </div>
  </body>
</html>